body {
    background-color: #c1cef6 ;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #58ffeb;
}
p{
    color:#f2e098;
    font-size: 30px;
}
button{
    background-color: rgb(255, 136, 166);
}
button:hover{
    transform:  scale(1.2) rotate(10deg);
    cursor: grab;
}